doctype html
html
  head
    title Welcome to Wineparty
    link(rel="stylesheet", href="css/base.css")
  body
    #content
    script.
      var uid = '#{user.id}';    
      var accessToken = '#{user.accessToken}';    
      
    script(type="text/javascript", src="scripts/bundle.js")
