body {
    background-color: #CCCCFF;
}

ul > li {
    list-style-type: none;
}

.closeDialog{
    float: right;
}

.collapsed {
    max-height: 0px !important;
}

.expanded {
}

.subContainer {
    max-height: 50px;
    overflow: hidden;
    transition: 0.5s;
}

.dialog {
    max-height: 90%;
    height: 90%;
    overflow: hidden;
    z-index: 1;
    width: 90%;
    position: absolute;
    background-color: #FFFFFF;
    transition: 0.5s;
}

.pickedFriend {
    border: 1px solid black;
}

.friendItem {
    display: inline-block;
    width: 200px;
}

.innerDialog {
    overflow: auto;
    height: 100%;
}

.hidden {
    height: 0px !important;
    border: 0px solid black !important;
}

.date-picker {
    max-height: 200px;
    height: 200px;
    transition: 0.5s;
    position: fixed;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid black;
}
